{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "resources/css/app.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
